<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory/items">Product Catalog</a></li>
        <li><a href="/inventory/item-instance">Current Inventory</a></li>
        <li><hr></li>
        <li><a href="/inventory/item/create">Add New Product to Catalog</a></li>
        <li><a href="/inventory/item-instance/create">Add Stock of Product to Inventory</a></li>
        <li><a href="/customers/customer/create">Add New Customer</a></li>
    </ul>
