<!DOCTYPE html>
<html>
  <head>
    <title>Supermarket Inventory Management System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Department</h1>
    <ul>
      <li><a href="/inventory/bakery">Bakery</a></li>
      <li><a href="/inventory/baking">Baking Goods</a></li>
      <li><a href="/inventory/beverages">Beverages</a></li>
      <li><a href="/inventory/beer-wine">Beer and Wine</a></li>
      <li><a href="/inventory/cafe">Cafe</a></li>
      <li><a href="/inventory/canned">Canned/Jarred Goods</a></li>
      <li><a href="/inventory/cleaning">Cleaning Goods</a></li>
      <li><a href="/inventory/dairy">Dairy</a></li>
      <li><a href="/inventory/deli-prepared-foods">Deli/Prepared Foods</a></li>
      <li><a href="/inventory/floral">Floral</a></li>
      <li><a href="/inventory/front-end">Front End</a></li>
      <li><a href="/inventory/frozen">Frozen</a></li>
      <li><a href="/inventory/health-beauty">Health and Beauty</a></li>
      <li><a href="/inventory/meat-seafood">Meat and Seafood</a></li>
      <li><a href="/inventory/paper">Paper Goods</a></li>
      <li><a href="/inventory/produce">Produce</a></li>
    </ul>
  </body>
</html>
